
h1 {font-style: italic;font-weight: 600; ; }
p  {
    text-align: center;
    font-family: fantasy; 
    font-weight: 300; 
}  
body {background-color: #93b7e0;line-height: 2eem;margin-right: 100px; 
margin-left: 100px;margin-top: 100px;margin-bottom: 100px;}

#foto {
    top: 50px;
    right: 950px;
    width: 140px;
    border-radius: 100%;
    position: absolute;
    padding: 2mm;
    background-color: rgb(212, 219, 170);
}
div:nth-of-type(1){
    font-family: cursive;
}
div:nth-of-type(2) {
    margin: 50px;
 font-family: monospace;
}
#lista:only-child(odd){
     color: antiquewhite;
 }