h1 {font-style: italic;font-weight: 600; ; }
p  {font-family: fantasy; font-weight: 300; }  
body {background-color: #64a0e4;line-height: 2eem;margin-right: 100px; 
margin-left: 100px;margin-top: 100px;margin-bottom: 100px;}

#foto {
    width: 200px;
    border-radius: 100%;
}
#cabeçalho{
    border-radius: 100%;
}
#titulo {
    text-align: center;
}